.ArticleList {
    display: flex;
    gap: 30px;
}

.LIST {
    flex-direction: column;

    .card {
        margin-bottom: 30px;
    }
}

.GRID {
    flex-wrap: wrap;

    .card {
        display: inline-flex;
        height: 300px;
    }

    .row {
        display: flex;
        gap: 30px;
    }
}
