.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
}

.links,
.dropdown {
    margin-left: auto;
}

.appName {
    margin-left: 12px;
    width: var(--sidebar-width);
}

.linkCreate {
    margin-right: 12px;
}
